name: Security Scan Docker Packages
run-name: >
  Security Scan - ${{ github.event_name == 'schedule'
    && format('weekly-{0}', format('{0,date,EEE}', github.event.schedule))
    || 'manual' }} - ${{ inputs.image || inputs.image || 'matrix' }}

on:
  workflow_dispatch:
    inputs:
      target:
        description: "Target type for the scan (docker, etc.)"
        required: false
        type: choice
        options:
          - docker
          - source
      image:
        description: "Docker image (for docker). By default ghcr.io/<owner>/<repo>:latest"
        required: false
        default: ""
        type: string
      only-high-critical:
        description: "Scope only HIGH + CRITICAL"
        required: false
        default: true
        type: boolean
      trivy-scan:
        description: "Trivy scan"
        required: false
        default: true
        type: boolean
      grype-scan:
        description: "Grype scan"
        required: false
        default: true
        type: boolean
      continue-on-error:
        description: "Continue on error"
        required: false
        default: true
        type: boolean
      only-fixed:
        description: "Ignore unfixed vulnerabilities"
        required: false
        default: true
        type: boolean
  schedule:
    - cron: "0 3 * * 0" # every Sunday at 03:00 UTC

jobs:
  debug-packages:
    runs-on: ubuntu-latest
    permissions:
      packages: read
    outputs:
      ghcr-packages: ${{ steps.pkgs.outputs.ghcr-packages }}
    steps:
      - name: Show raw GHCR response
        id: pkgs
        env:
          GH_TOKEN: ${{ secrets.GH_PAT_PACKAGES }}
          OWNER: ${{ github.repository_owner }}
        run: |
          api_url="https://api.github.com/users/${OWNER}/packages?package_type=container"
          echo "Request: $api_url"

          response=$(curl -sS \
            -H "Authorization: Bearer $GH_TOKEN" \
            -H "Accept: application/vnd.github+json" \
            "$api_url")

          packages=$(echo "$response" | jq -c --arg owner "$OWNER" '
            [.[]
            | select(.repository.full_name == "nookyo/qubership-monitoring-operator")
            | { name: .name, repository: .repository.name, full_name: .repository.full_name, path: "ghcr.io/\($owner)/\(.name)" }
            ]
          ')

          echo "ghcr-packages=$packages" >> "$GITHUB_OUTPUT"
          echo "Raw response:"
          echo "$packages"

  security-scan-matrix:
    needs: debug-packages
    if: ${{ github.event.inputs.image == '' || github.event.inputs.image == null }}
    strategy:
      matrix:
        package: ${{ fromJson(needs.debug-packages.outputs.ghcr-packages) }}

    name: "Run Security Scan (matrix)"
    uses: nookyo/qubership-workflow-hub/.github/workflows/re-scam.yml@main
    with:
      target: ${{ github.event.inputs.target || 'docker' }}
      image: ${{ format('{0}:main', matrix.package.path) }}

  security-scan-single:
    needs: debug-packages
    if: ${{ github.event.inputs.image != '' && github.event.inputs.image != null }}
    name: "Run Security Scan (single image)"
    uses: nookyo/qubership-workflow-hub/.github/workflows/re-scam.yml@main
    with:
      target: ${{ inputs.target || 'docker' }}
      image: ${{ inputs.image }}
      only-high-critical: ${{ inputs.only-high-critical || true }}
      trivy-scan: ${{ github.event.inputs.trivy-scan || true }}
      grype-scan: ${{ inputs.grype-scan || true }}
      only-fixed: ${{ inputs.only-fixed || true }}
      continue-on-error: ${{ inputs.continue-on-error || true }}

    # steps:
    #   - name: Show GHCR packages for repository
    #     run: |
    #       github.repository
    #       echo package name: ${{ matrix.package.name }}
    #       echo package repository: ${{ matrix.package.repository }}
    #       echo package path: ${{ matrix.package.path }}
